#footer{
	background-color: green;
	padding: 15px;
	overflow: hidden;
	color: white;
}

#footer li{
	list-style: none;
	margin-left: 0;
}

#footer a{
	color: white;
	text-decoration: none;	
}

#about_lainnya{
	width: 70%;
	float: left;
	overflow: hidden;
}

#about{
	float: left;
	width: 20%;
}

#lainnya{
	float: left;
	width: 25%;
}

#sosmed{
	float: right;
	width: 30%;
}

#sosmed a{
	font-size: 26px;
	margin-right: 10px;
}

@media screen and (max-width: 920px) {
	#about, #lainnya{
		width: 30%;
	}
}

@media screen and (max-width: 700px) {
	#about_lainnya{
		width: 100%;
	}

	#sosmed{
		width: 100%;
		float: left;
	}

	#lainnya, #about{
		width: 40%;
	}

	#lainnya{
		float: right;
	}

}