		.hal{
			margin: 50px;
		}
		.isi{
			padding: 30px;
			height: 380px;
		}
		.buttonH{
		background-color: red;
		padding: 10px;
		border-radius: 10px;
		color: white;
		}
		.TDu{
			border: 2px solid black; 
			padding: 5px; 
			margin: auto;
		}
		.TDu tr td:nth-child(1){
			width: 20px;
			text-align: center;
		}
		.TDu tr td:nth-child(2){
			width: 100px;
			text-align: center;
		}
		.TDu tr td:nth-child(3){
			width: 200px;
			text-align: center;
		}
		.TDu tr td:nth-child(4){
			width: 200px;
			text-align: center;
		}
		.TDu tr td:nth-child(5){
			width: 200px;
			text-align: center;
		}
		.TDu tr td:nth-child(6){
			width: 150px;
			text-align: center;
		}
		.TDu tr td:nth-child(7){
			width:350px;
			text-align: center;
		}
		.TDu tr td:nth-child(8){
			width: 100px;
			text-align: center;
		}
		.TDu tr td:nth-child(9){
			width: 100px;
			text-align: center;
		}